<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0MCSYHF8ML"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0MCSYHF8ML');
    </script>
</head>
<body>
    {% if page.image %}
    <div id="head_img" style="background-image: url('{{page.image}}')">
    {% else %}
    <div id="head_img" style="background-image: url('/assets/img/delicatearch.jpg')">
    {% endif %}
        <div id="title">{{page.title}}</div>
    </div>

    <div id="content">
        {{content}}
    </div>

    <div id="tag"><a href="/">antiamoebic</a></div>
</body>
</html>